@charset "utf-8";
.ik_suggest {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.ik_suggest .suggestions {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  margin: 0;
  padding: 3px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);
}
.ik_suggest .suggestions li {
  padding: 3px;
  cursor: pointer;
}
.ik_suggest .suggestions li span {
  font-weight: bold;
}
.ik_suggest .suggestions li:hover {
  background-color: #f76;
  color: #fff;
}
.ik_suggest .suggestions li.selected {
  background-color: #f76;
  color: #fff;
}
